<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Are Star Wars Tickets For Sale Yet?</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <% data.forEach(function(tweet) {  %>
    <%= tweet %><br>
  <% }); %>
</body>
</html>