<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Are Star Wars Tickets For Sale Yet?</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <h1>Are Tickets For Sale?</h1>
  <%= forSale %>
  <h1>Recent Tweets by @drafthouse</h1>
  <% tweets.forEach(function(tweet) {  %>
    <%= tweet %><br>
  <% }); %>
</body>
</html>